/*footer*/
#footer * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 40px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 50px;
    padding: 0;
    text-transform: uppercase;
}
.footer {
    border-top: 1px solid;
    
}
