.lightbox-overlay {//la modale
    position:fixed;
    width:100%;
    height:100%;
    background:$color-grey-strong;
    display:flex;
    justify-content: center;
    align-items:center;
    top: 0;
    left: 0;
}