/*
*  Lightbox
*/
#eye-container > div.screen-image > img {
    width: 34px;
    height: 34px;
    left: 250px;
    bottom: 310px;
    cursor: pointer;
    transition:all 0.4s ease;
}
.screen-image {
    width: 30px;
    height: 30px;
}
.lightbox {
    visibility: hidden;
    position:fixed;
    width:100%;
    height:100%;
    background:black;
    display:flex;
    justify-content: center;
    align-items:center;
    z-index: 999;
    top:0;
    left:0;
    transition: opacity 0.3s ease; // Transition douce
}
.lightbox-close{
    position:absolute;
    top:120px;
    right:90px;
    border-radius:20px;
    height:25px;
    width:25px;
    background-image: url(../images/cross-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
    display:flex;
    transition:all 0.4s ease;
}
.details-lightbox {
    display: flex;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-top: 15px;
}
#ref-lightbox {
    margin-right: 260px;
    margin-left: 10px;
}
.infos-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}


        /*** swiper ****/
.swiper {
    width: 400px;
    position: relative;
}
.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    & img {
    width: 400px;
    //margin-left: 15px;
    height: 100%;
    }
  }
  .swiper-button-prev {
    content: url(../images/arrow-left-white.svg);
    position: fixed;
    width: 150px;
    left: 100px;
    cursor: pointer;
}
.swiper-button-next{
    content: url(../images/arrow-right-white.svg);
    position: fixed;
    width: 150px;
    right: 100px;
    cursor: pointer;
}
