/* Media query pour les écrans plus petits comme le smartphone*/
            /****Ecran inférieur ou égale à 768px*****/
@media (max-width: 800px) {
//Menu
#main {
    height: auto;
}
#primary-menu {
    display: none;
}
#primary-menu-mobile {
    display: block;
}
#burgerIcon {
    display: block;
    position: absolute;
    top: 20px;
    left: 84vw;
    width: 80px;
    height: 20vw;
    cursor: pointer;
}
#header {
    width: 298vw;
    height: 30vw;
}
    //Icône croix
.active-icon {
    content: url(../images/cross.svg);
    cursor: pointer;
}
#button-contact {
    margin-bottom: 80px;
}

#branding-img img {//logo du menu
    //margin-top: 150px;
    left: -580px;
    height: 27px;
    top: 10vw;
    }
.menu-item-51 {
    margin: 15px 0 20px 0;
    }
.site_header_menu {
    & li:hover,  #button-contact:hover {
        font-weight: none;
        }
    }
#popup-container {
    z-index: 10;
    }
.popup-contact {
    width: 185vw;
    height: 350vw;
    }
.popup-header img {
    width: 100%;
    }
.wpcf7 {
    margin-left: 60px;
 }

    //Hero-header
.header-image img {
    margin-left: 0;
    max-width: 500vw;
    height: 175vw;
}
.title-header img {
    height: 41px;
}

//Liste de photos et ses filtres
.filters {
    display: flex;
    flex-direction: column;
    margin-left: 64vw;
    gap: 8px;
}
.label, .sel, .select, .selection {
    padding: 20px;
    font-size: 22px;
    margin-top: 10px;
}
.sel {
    margin-left: 0;

}
.sel, .select, .selection {
    width: 100vw;
    height: 12vw;
}
.filters-photos {
    display: grid;
    
}
#primary {
    width: 230vw;
}
.block-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
#images-block {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.block-button {
    margin-bottom: 0;
}
.block-load-photos {
    margin-top: 20px;
}
#logo {
    margin-bottom: -60px;
}
#images-container {
    display: flex;
    flex-direction: column;
}
.image img {
    height: 55vw;
}
.eye-overlay {
    width: 208vw;
    height: 180.2vw;
    margin-left: 4vw;
}
#eye-container > div.screen-image > img {
    display: flex;
    flex-wrap: wrap;
    left: 80vw;
    bottom: 80vw;
    width: 13vw;
    height: 13vw;
}
.hover-img img {
    right: 50px;
}
#ref-hover {
    margin-right: 130vw;
}
#cat-hover {
    bottom: 50px;
    right: 50px;
}
.details-overlay {
    margin-top: 60vw;
}
#same-image {
    margin-bottom: 35px;
    & a {
        margin-left: -27px;
    }
    & img {
        height: 280vw;
        width: 270vw;
        left: -5vw;
    }
}
#photo-gallery {
    margin-left: 80vw;
}
#eye-container  .hover-img img {
    width: 98px;
    height: 70px;
    margin-left: 5px;
}
.block-list-photos {
    margin-top: -300px;
    margin-right: 30px;
}

//charger plus
#load-more {
    height: 18vw;
    width: 150vw;
    font-size: 4vw;
}

//single-page
body {
    width: 100%;
}
.side-big-image {
    margin-left: 56px;
    margin-right: 56px;
}
.big-image img {
    width: 321vw;
    height: 200vw;
}

.details-container {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid;
    margin-left: 0;
    & h2 {
        margin-left: -10px;
        font-size: 17vw;
        margin-bottom: 37px;
    }
}
.details {
    margin: 450px 56px 20px 70px;
    & ul {
        margin-left: -47px;
        font-size: 7vw;
    & li {
        margin-bottom: 61px;
    }
    }
}
.contact-photo {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 50vw;
}
.button-contact {
    display: flex;
    flex-direction: column;
    border-top: none;
    margin-left: -270px;
    padding-top: 0;
    & p {
        margin-right: 0;
        font-size: 8vw;
        margin-top: 54vw;
    }
}
.btn-single-page {
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 160vw;
    height: 50vw;
    font-size: 7vw;
}
.arrow-left, .arrow-right {
    display: none;
}
.text-photos-apparentes {
    font-size: 10vw;

    & p {
        margin-left: 115vw;
        letter-spacing: 2px;
}
}
.container-single-page {
    width: 330vw;
    margin-left: 15vw;
    max-width: none;
}  
//lightbox
.infos-photo {
    margin-left: 105px;
}
.swiper-slide img {
    width: 200px;
    margin-left: 105px;
    height: 100%;
    }
//formulaire contact
.wpcf7-form p label {
    font-size: 35px;
}
.wpcf7-form-control {
    height: 25vw;
    width: 150vw;
    font-size: 7vw;
}
.wpcf7-form p {
    margin-top: 10vw;
    margin-left: 10vw;
}
#message {
    height: 100vw;
}
.image-arrow-left, .image-arrow-right {
    visibility: hidden;
}
//footer
#footer * {
    display: none;
    display: grid;
    margin-left: 0;
    height: 80px;
    width: 240vw;
    font-size: 8vw;
    & li {
        margin-left: 105vw;
        margin-top: 10vw;
    }
}
.menu-item-143 {
    margin-top: 20px;
}
.menu-item-reserves {
    margin-bottom: 20px;
}
.footer{
    width: 350vw;
    font-size: 8vw;
}
}


/* Media query pour les moyens écrans*/
            /****Ecran inférieur à 320px*****/
@media (max-width: 480px) {
.details-container h2 {
    font-size: 35px;
}
.popup-contact {
    width: 300px;
    }
.wpcf7-form-control {
    width: 190px;
    }
    #button-submit {
        width: 190px;
    }
    .text-photos-apparentes p{
        margin-left: 20px;
    }
    .details-overlay {
        margin-top: 55vw;
    }
    #ref-hover {
        margin-right: 35vw;
    }
    .swiper-button-prev {
        width: 19vw;

    }
    .swiper-button-next{
        width: 19vw;

    }
}
