/*
*Menu burger pour écran mobile
*
*/
/* Cacher le menu burger par défaut */
.menu-toggle {
    display: none;
    position: relative;
}
#burgerIcon {
    bottom: 50px;
}

#menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5000px;
    background-color: $color-red;
    display: none; /* Masqué par défaut */
    z-index: 8;
    top: 80px;
    @include anim-menu;
}
.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* Couleur de fond */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
    z-index: 1000; /* Assure que le menu apparaît au-dessus des autres éléments */
}
.open-menu {
    position: absolute;
    flex-direction: column;
    z-index: 3;
    background-color: white;
    font-family: 'Space mono', sans-serif;
    font-size: 44px;
    height: 100%;
    width: 100%;
    @include anim-menu;
    //transition:all 0.4s ease;
    & #primary-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -50px;
        padding-top: 300px;
        @include anim-menu;
        & button {
            background-color: $color-red;
            font-size: 44px;
            color: white;
        }
        & a {
            color: white;    
        }
    }

}
