.block-image {
    display: grid;
    grid-template-columns: 580px 580px;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.same-image img{
    object-fit: cover;
    width: 29.375vw;
    height: 25.78vw;
    width: 100%;
}