/*
* Les filtres et les photos du filtre
*
*/
.filters {
    margin: 50px 20px 30px 80px;

}
.filters-class {
    margin-right: 30px;
    border-radius: 10px;
    border: $color-border-form solid 1px;
    width: 260px;
    height: 43px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    &:hover {
        border: $color-border-hover solid 1px;
    }
}
#trier-select {
    margin-left: 360px;
}

.block-button {//le container des boutons avec un fond gris de "Charger plus" et "Contact"
    //le style du bouton se trouve dans le style single-page à .input-single-page
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.block-list-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#images-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.image img{
    object-fit: cover;
    width: 29.375vw;
    height: 25.78vw;
}

//mise en couleur des filtres
.sel {
    color: #000000;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 2px;
    overflow: hidden;
    background: #ffffff url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.2 11.1 2.5 5.7A1 1 0 0 1 3.2 4h9.6a1 1 0 0 1 .7 1.7L8.8 11a1 1 0 0 1-1.6 0z'/></svg>") no-repeat calc(100% - 10px) 14px;
}
.label,
.sel .options div {
    padding: 10px;
    margin-left: 1px;
}
.label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 24px 10px 10px;
}
.selected {
    background-color: #ff0000;
}
.sel .options {
    width: 250px;
    background-color: #ffffff;
    display: none;
}
.sel .options .single-item:hover {
    background-color: $color-pink;
}
.sel .options .single-item:active {
    background-color: red;
    color: white;
}
.sel .options .single-item.clicked {
    background-color: red;
    color: white;
}
select:focus > option:checked { 
    background: $color-red !important;
    color: white;
    padding: 20px;
}
select option:checked,
select option:hover {
box-shadow: 0 0 10px 100px #000 inset;
}