.block-button {
    //le style bouton se trouve dans le style single-page à .input-single-page
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}