/*
* La partie photo-block du single Page avec l'overlay
*
*/
/*.images-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    top: 15px;
    position: relative;
    margin: auto;
}*/
.block-image {
    margin-bottom: 90px;
}
.same-image img {
    object-fit: cover;
    height: 34.2vw;
    width: 30.208vw;
    position: relative;
    z-index: 7;

}
#same-image {
   margin-bottom: -655px;
}
.eye-overlay {
    position: relative;
    width: 30.208vw;
    height: 34.3vw;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    opacity: 0; // Initialement invisible
    transition: opacity 0.3s ease; // Transition douce
    bottom: 662px;
}
#same-image:hover .eye-overlay {
    opacity: 1; // Rendre visible lorsque survolé
}
.details-overlay {
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    //visibility: hidden;
    top: 170px;
}
#ref-hover {
    margin-right: 400px;  
}

#eye-container .hover-img img{
    cursor: pointer;
    width: 100%;
    height: 30px;
}