/*
* Toute la partie SINGLE PAGE en 3 sections
*
*/

            /** 1ère section  **/
.container-single-page {
    max-width: 1143px;
    margin: auto;
}
.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 35px;
}
.contact-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 118px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Space mono', sans-serif;
    margin-left: 40px;
    & h2 {
        text-transform: uppercase;
        font-style: italic;
        font-weight: lighter;
        font-family: 'Space mono', sans-serif;
        font-size: 60px;
        width: 50%;
        line-height: 50px;
        margin: 0;
        margin-left: -30px;
    }
    & ul {
    text-transform: uppercase;
    list-style: none;
    line-height: 40px;
    margin-left: -70px;
    font-size: 15px;
}
}
.side-big-image {
    margin-left: 10px;
    height: 844px;
}
.big-image img{
    object-fit: cover;
    width: 29.6vw;
    height: 844px;
}

            /** 2ème section avec le bouton "contact" et les flèches**/
.btn-single-page {
    padding: 10px;
    width: 272px;
    height: 50px;
    border: none;
    background-color: $color-grey-medium;
    font-size: 12px;
    font-family: 'Space mono', sans-serif;
    cursor: pointer;
    z-index: 1;
    &:hover {
        background-color: black;
        color: white;
    }
}
.button-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid;
    padding-top: 35px;
    font-family: 'Poppins', sans-serif;
    & p {
        font-size: 14px;
        margin-right: 100px;
    }
    & input {
        cursor: pointer; // Changer l'apparence du curseur
        pointer-events: auto; // Autoriser les événements de pointer
        transition: background-color 0.3s ease;
    }
}
//pagination flêchée et photos au survol
.arrows {
    position: relative;
    top: 100px;
    left: 505px;
    z-index: 1;
}
.arrow-right {
    position: absolute;
    margin-left: 38px;
    cursor: pointer;
    &:hover {
        content: url(../images/arrow-Rblack.svg);
        width: fit-content;
    }
}
.arrow-left {
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    &:hover {
        content: url(../images/arrow-Lblack.svg);
        width: fit-content;
    }
}
.image-arrows img {
    position: absolute;
    object-fit: cover;
    width: 4.22vw;
    height: 3.70vw;
    bottom: 12px;
    left: 138px;
}
.image-arrow-left,
.image-arrow-right {
    visibility: visible;
    margin-left: -150px;
}

/***  3ème section avec les Photos apparentées***/
.photos-apparentes {
    display: flex;
    flex-direction: column;
}
.text-photos-apparentes {
    text-transform: uppercase;
    font-size: 18px;
    border-top: 1px solid;
    padding: 60px 0 40px 0;
}
#images-block {
    height: 760px;
}
.block-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    position: relative;
    gap: 20px;
    margin-bottom: 20px;
}
