/*
* Toute la partie SINGLE PAGE en 3 sections
*
*/
/** 1ère section  **/
.details-container {
    display: grid;
    grid-template-columns: 720px 720px;
    padding-top: 35px;
    justify-content: center;
    width: fit-content;
}
.contact-photo {
    display: grid;
    grid-template-columns: 720px 720px;
    height: 118px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 150px;
    & h2 {
        text-transform: uppercase;
        font-style: italic;
        font-weight: lighter;
        font-size: 60px;
        width: 50%;
        line-height: 50px;
        margin: 0;
        margin-left: -30px;
    }
    & ul {
    text-transform: uppercase;
    list-style: none;
    line-height: 40px;
    margin-left: -70px;
    font-size: 15px;
}
}
.side-big-image {
    width: 29.125vw;
    margin-left: 10px;
}
.big-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/** 2ème section avec le bouton et les flèches**/
.btn-single-page, .js-load-button {
    padding: 10px;
    width: 272px;
    height: 50px;
    border: none;
    background-color: $color-grey-medium;
    font-size: 12px;
    font-family: 'Space mono', sans-serif;
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}

.button-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 120px;
    border-top: 1px solid;
    padding-top: 35px;
    margin-top: -1px;
    font-family: 'Poppins', sans-serif;
    & p {
        font-size: 14px;
        margin-right: 130px;
    }
    & input {
        cursor: pointer; /* Changer l'apparence du curseur */
        pointer-events: auto; /* Autoriser les événements de pointer */
        transition: background-color 0.3s ease;
    }
}

//pagination flêchée et photos au survol
.side-little-image {
    position: absolute;
    margin-left: 480px;
    object-fit: cover;
    width: 4.22vw;
    height: 3.70vw;
}
.little-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom: 90px;
    left: 8px;
}
.arrows {
    position: relative;
    bottom: -90px;
    left: 345px;
    /*&:hover .swiper-part {
        visibility: visible;
        position: absolute;
        z-index: 1;
        left: 143px;
        bottom: 30px;
    }
    &:hover .side-little-image {
        position: relative;
        z-index: -1;
    }*/
}

.swiper-part {
    visibility: hidden;
}
.arrow-right {
    margin-left: 22px;
    cursor: pointer;
    &:hover {
        content: url(../images/arrow-Rblack.svg);
        width: fit-content;
    }
}
.arrow-left {
    margin-left: 145px;
    cursor: pointer;
    &:hover {
        content: url(../images/arrow-Lblack.svg);
        width: fit-content;
    }
}
.image-arrows img {
    position: absolute;
    object-fit: cover;
    width: 4.22vw;
    height: 3.70vw;
    bottom: 25px;
    left: 144px;
}
.image-arrow-left,
.image-arrow-right {
    visibility: hidden;
    
}

        /*** swiper ****/
.swiper {
    width: 4.22vw;
    height: 3.7vw;
    margin-top: 5px;
}
.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swiper-button-next {
    content: url(../images/arrow-right.svg);
}


/***  3ème section avec les Photos apparentées***/
.text-photos-apparentes {
    text-transform: uppercase;
    font-size: 18px;
    border-top: 1px solid;
    margin: 0 150px 0 120px;
    padding: 60px 0 40px 0;
}
