@mixin anim-modale {
    //animation de la modale du haut vers le bas
        animation: modale 5s ease-in-out forwards;
        transform: translateY();
    }
    @keyframes modale {
        0% {
            transform: translateY(0%);
            opacity: 0;
        }
        50% {
            transform: translateY(50%);
            opacity: 0.5;
        }
        100% {
            transform: translateY(80%);
            opacity: 1;
        }
      }