@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Import de la font Space mono */
@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1 300 ;1 400 ;1 500 ;1 600 ;1 700 ;1 800 ;1 900 & display=swap");
/* Import de la font Poppins */
@keyframes modale {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}
/*
*NAV MENU et HERO HEADER
*
*/
body {
  font-family: "Space mono", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: auto;
  max-width: 1440px;
  background-color: white;
}

#primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/****NAV MENU ****/
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 100%;
  height: 80px;
  box-shadow: 0px 5px 15px -5px #E5E5E5;
}

#menu * {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}

.site_header_menu {
  font-family: "Space mono", sans-serif;
  position: relative;
  left: 15vw;
  top: 5px;
}
.site_header_menu li:hover, .site_header_menu #button-contact:hover {
  font-weight: bold;
}

#button-contact {
  font-family: "Space mono", sans-serif;
  font-size: 16px;
  border: none;
  background-color: white;
  margin-left: 30px;
  cursor: pointer;
}

.menu-item {
  margin-left: 30px;
}

.page-item-63 {
  order: -1;
}

#branding-img img {
  width: 100%;
  height: 14px;
  left: -15vw;
  margin-top: 25px;
}

/**** HERO HEADER  ****/
.title-header {
  position: relative;
  bottom: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 50.104vw;
  max-width: 1440px;
}

#logo {
  margin-bottom: -100px;
}

/*
*footer
*/
#footer * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 40px;
  padding: 0;
  text-transform: uppercase;
}

.footer {
  border-top: 1px solid;
}

.menu-item-144 {
  margin-right: 40px;
}

/*
*Modale au clic des boutons "Contact"
*
*/
.popup-contain {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 7;
}

#popup-container {
  display: none;
}

.popup-contact {
  position: absolute;
  background: white;
  border: black solid 5px;
  width: 597px;
  height: 770px;
  padding-top: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  animation: modale 1s ease-in-out forwards;
  opacity: 0;
}

.wpcf7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  width: -moz-min-content;
  width: min-content;
}

.wpcf7-form-control {
  height: 40px;
  width: 263px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #D8D8D8;
  margin: 5px 0 10px 0;
}

#message {
  height: 210px;
}

.wpcf7-submit {
  background-color: #D8D8D8;
  height: 50px;
  width: 263px;
  padding: 6px 16px;
  color: black;
  font-size: 12px;
  font-family: "Space mono", sans-serif;
  font-weight: lighter;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.wpcf7-form p label {
  font-size: 12px;
  font-family: "Poppins" sans-serif;
  font-weight: 200;
}

/*
* Toute la partie SINGLE PAGE en 3 sections
*
*/
/** 1ère section  **/
.container-single-page {
  max-width: 1143px;
  margin: auto;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 35px;
}

.contact-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 118px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 40px;
}
.details h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: lighter;
  font-size: 60px;
  width: 50%;
  line-height: 50px;
  margin: 0;
  margin-left: -30px;
}
.details ul {
  text-transform: uppercase;
  list-style: none;
  line-height: 40px;
  margin-left: -70px;
  font-size: 15px;
}

.side-big-image {
  margin-left: 10px;
  height: 844px;
}

.big-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 29.6vw;
  height: 844px;
}

/** 2ème section avec le bouton et les flèches**/
.btn-single-page, .js-load-button {
  padding: 10px;
  width: 272px;
  height: 50px;
  border: none;
  background-color: #D8D8D8;
  font-size: 12px;
  font-family: "Space mono", sans-serif;
  cursor: pointer;
}
.btn-single-page:hover, .js-load-button:hover {
  background-color: black;
  color: white;
}

.button-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid;
  padding-top: 35px;
  font-family: "Poppins", sans-serif;
}
.button-contact p {
  font-size: 14px;
  margin-right: 116px;
}
.button-contact input {
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s ease;
}

.arrows {
  position: relative;
  top: 100px;
  left: 505px;
}

.arrow-right {
  position: absolute;
  margin-left: 38px;
  cursor: pointer;
}
.arrow-right:hover {
  content: url(../images/arrow-Rblack.svg);
  width: -moz-fit-content;
  width: fit-content;
}

.arrow-left {
  position: absolute;
  margin-left: -15px;
  cursor: pointer;
}
.arrow-left:hover {
  content: url(../images/arrow-Lblack.svg);
  width: -moz-fit-content;
  width: fit-content;
}

.image-arrows img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 4.22vw;
  height: 3.7vw;
  bottom: 12px;
  left: 138px;
}

.image-arrow-left,
.image-arrow-right {
  visibility: hidden;
  margin-left: -150px;
}

/***  3ème section avec les Photos apparentées***/
.text-photos-apparentes {
  text-transform: uppercase;
  font-size: 18px;
  border-top: 1px solid;
  padding: 60px 0 40px 0;
}

/*
* La partie photo-block du single Page avec l'overlay
*
*/
.block-image {
  margin-bottom: 720px;
  margin-top: -650px;
}

.same-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 34.2vw;
  width: 30.208vw;
  position: relative;
  z-index: 7;
}

#same-image {
  margin-bottom: -655px;
}

.eye-overlay {
  position: relative;
  width: 30.208vw;
  height: 34.2vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 658px;
}

#same-image:hover .eye-overlay {
  opacity: 1;
}

.details-overlay {
  margin-top: 450px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  top: 170px;
}

#ref-hover {
  margin-right: 400px;
}

#eye-container .hover-img img {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

/*
* Les filtres et les photos du filtre
*
*/
.filters {
  margin: 50px 20px 30px 0;
  display: flex;
}

#trier-select {
  margin-left: 360px;
}

.block-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
  margin-top: 120px;
}

.block-list-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

#images-container, .block-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  position: relative;
  gap: 20px;
}

#images-container {
  bottom: -30px;
}

.image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 25.78vw;
}

.image:hover .eye-overlay {
  opacity: 1;
}

/***** Mise en couleur des filtres *****/
/***Filtre CATEGORIE***/
.options {
  color: #000000;
  width: 260px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 30px;
}

.label,
.sel .options div {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.label:hover {
  border: #215AFF solid 1px;
  border-radius: 10px;
  padding-bottom: 9px;
}

.sel {
  width: 260px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: #B8BBC2 solid 1px;
  border-radius: 10px;
  background: #ffffff url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.2 11.1 2.5 5.7A1 1 0 0 1 3.2 4h9.6a1 1 0 0 1 .7 1.7L8.8 11a1 1 0 0 1-1.6 0z'/></svg>") no-repeat calc(100% - 12px) 16px;
  margin-right: 30px;
  margin-left: -20px;
}

.sel .options {
  width: 260px;
  background-color: #ffffff;
  display: none;
  position: absolute;
  z-index: 15;
  border-radius: 6px;
  border-top-left-radius: 1px solid;
  border-top: 1px solid #B8BBC2;
}

.sel .options .single-item:hover {
  background-color: #FFD6D6;
}

.sel .options .single-item:active {
  background-color: red;
  color: white;
}

/***Filtre FORMAT***/
.options-formats {
  color: #000000;
  width: 260px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 30px;
}

.label-format,
.select .options-formats div {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.label-format:hover {
  border: #215AFF solid 1px;
  border-radius: 10px;
  padding-bottom: 9px;
}

.select {
  width: 260px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: #B8BBC2 solid 1px;
  border-radius: 10px;
  background: #ffffff url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.2 11.1 2.5 5.7A1 1 0 0 1 3.2 4h9.6a1 1 0 0 1 .7 1.7L8.8 11a1 1 0 0 1-1.6 0z'/></svg>") no-repeat calc(100% - 12px) 16px;
  margin-right: 360px;
}
.select .options-formats {
  position: absolute;
  z-index: 15;
  border-radius: 6px;
}

.select .options-formats {
  width: 248px;
  background-color: #ffffff;
  display: none;
  border-top: 1px solid #B8BBC2;
}

.select .options-formats .single-item-format:hover {
  background-color: #FFD6D6;
}

.select .options-formats .single-item-format:active {
  background-color: red;
  color: white;
}

/***Filtre TRIER PAR***/
.options-tries {
  color: #000000;
  width: 260px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 30px;
}

.label-trie,
.selection .options-tries div {
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.label-trie:hover {
  border: #215AFF solid 1px;
  border-radius: 10px;
  padding-bottom: 9px;
}

.selection {
  width: 260px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: #B8BBC2 solid 1px;
  border-radius: 10px;
  background: #ffffff url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.2 11.1 2.5 5.7A1 1 0 0 1 3.2 4h9.6a1 1 0 0 1 .7 1.7L8.8 11a1 1 0 0 1-1.6 0z'/></svg>") no-repeat calc(100% - 12px) 16px;
}
.selection .options-tries {
  position: absolute;
  z-index: 15;
  border-radius: 6px;
}

.selection .options-tries {
  width: 248px;
  background-color: #ffffff;
  display: none;
  border-top: 1px solid #B8BBC2;
}

.selection .options-tries .single-item-order:hover {
  background-color: #FFD6D6;
}

.selection .options-tries .single-item-order:active {
  background-color: red;
  color: white;
}

/*
*  Lightbox
*/
#eye-container > div.screen-image > img {
  width: 34px;
  height: 34px;
  left: 250px;
  bottom: 310px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.screen-image {
  width: 30px;
  height: 30px;
}

.lightbox {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.lightbox-close {
  position: absolute;
  top: 120px;
  right: 90px;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  background-image: url(../images/cross-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: flex;
  transition: all 0.4s ease;
}

.details-lightbox {
  display: flex;
  position: absolute;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 15px;
}

#ref-lightbox {
  margin-right: 260px;
  margin-left: 10px;
}

.infos-photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

/*** swiper ****/
.swiper {
  width: 400px;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  width: 400px;
  height: 100%;
}

.swiper-button-prev {
  content: url(../images/arrow-left-white.svg);
  position: fixed;
  width: 150px;
  margin-left: -600px;
  cursor: pointer;
}

.swiper-button-next {
  content: url(../images/arrow-right-white.svg);
  position: fixed;
  width: 150px;
  margin-left: 800px;
  cursor: pointer;
}

/* Media query pour les écrans plus petits comme le smartphone*/
/****Ecran inférieur ou égale à 768px*****/
@media (max-width: 768px) {
  #main {
    height: auto;
  }
  #primary-menu {
    display: none;
  }
  #primary-menu-mobile {
    display: block;
  }
  #burgerIcon {
    display: block;
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .active-icon {
    content: url(../images/cross.svg);
    cursor: pointer;
  }
  #button-contact {
    margin-bottom: 80px;
  }
  #branding-img img {
    left: -30px;
  }
  .menu-item-51 {
    margin: 15px 0 20px 0;
  }
  .site_header_menu li:hover, .site_header_menu #button-contact:hover {
    font-weight: none;
  }
  #popup-container {
    z-index: 10;
  }
  .popup-contact {
    width: 400px;
  }
  .popup-header img {
    width: 100%;
  }
  .wpcf7 {
    margin-left: 60px;
  }
  .header-image img {
    margin-left: 0;
    height: 253px;
    max-width: 100%;
  }
  .title-header img {
    height: 41px;
  }
  .filters {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 8px;
  }
  .sel {
    margin-left: 0;
  }
  .filters-photos {
    display: grid;
    grid-template-columns: 450px;
    margin-bottom: -10px;
  }
  .block-image {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  #images-block {
    margin-left: -30px;
  }
  #logo {
    margin-bottom: -60px;
  }
  #images-container {
    display: flex;
    flex-direction: column;
  }
  .image img {
    height: 55vw;
  }
  .eye-overlay {
    width: 84.8vw;
    height: 358px;
    top: -360px;
    left: 23px;
  }
  .hover-img img {
    right: 50px;
  }
  #ref-hover {
    margin-right: 210px;
  }
  #cat-hover {
    bottom: 50px;
    right: 50px;
  }
  .details-overlay {
    position: absolute;
    top: -126px;
  }
  #same-image {
    margin-bottom: -355px;
  }
  #same-image a {
    margin-left: -27px;
  }
  #same-image img {
    height: 74.2vw;
    width: 84.8vw;
    margin-left: 50px;
  }
  #eye-container .hover-img img {
    width: 35px;
    height: 25px;
    margin-left: 185px;
  }
  .block-button {
    margin-top: 290px;
    margin-right: -10px;
  }
  .block-list-photos {
    margin-top: -300px;
    margin-right: 30px;
  }
  .side-big-image {
    margin-left: 56px;
    margin-right: 56px;
  }
  .big-image img {
    width: 100%;
    height: 397px;
  }
  .details-container {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid;
    margin-left: 0;
  }
  .details-container h2 {
    margin-left: -10px;
    width: 100%;
    font-size: 50px;
  }
  .details {
    margin: -400px 56px 20px 56px;
  }
  .details ul {
    margin-left: -47px;
  }
  .contact-photo {
    display: flex;
    justify-content: center;
    margin-left: 250px;
  }
  .button-contact {
    display: flex;
    flex-direction: column;
    border-top: none;
    margin-left: -270px;
    padding-top: 0;
  }
  .button-contact p {
    margin-right: 0;
  }
  .arrow-left, .arrow-right {
    display: none;
  }
  .photos-apparentes {
    margin-left: 50px;
  }
  .text-photos-apparentes {
    padding: 0;
  }
  .text-photos-apparentes p {
    margin-left: 120px;
    letter-spacing: 2px;
  }
  #ref-lightbox {
    margin-right: 60px;
    margin-left: 120px;
  }
  .swiper-slide img {
    width: 200px;
    margin-left: 105px;
    height: 100%;
  }
  .swiper-button-prev {
    width: 100px;
    top: 150px;
    left: -10px;
  }
  .swiper-button-next {
    width: 100px;
    left: 320px;
    top: 150px;
  }
  #footer * {
    display: none;
    display: grid;
    margin-left: 0;
    height: 60px;
  }
  .menu-item-143 {
    margin-top: 20px;
  }
  .menu-item-reserves {
    margin-bottom: 20px;
  }
}
/* Media query pour les moyens écrans*/
/****Ecran supérieur à 768px*****/
@media (min-width: 800px) and (max-width: 1440px) {
  #main {
    height: 1800px;
  }
  .big-image img {
    width: 38.6vw;
  }
  .button-contact p {
    margin-right: 116px;
  }
  .eye-overlay {
    width: 100%;
    height: 93%;
    bottom: 496px;
  }
  .details-overlay {
    position: absolute;
    top: 0;
  }
  #same-image {
    margin-bottom: -40px;
  }
  #same-image img {
    width: 580px;
  }
  .arrows {
    bottom: 295px;
    right: 214px;
  }
  .image-arrows img {
    width: 5.6vw;
    height: 4.95vw;
  }
  .swiper-content {
    margin-bottom: 150px;
  }
  .swiper-button-prev {
    left: -400px;
  }
  .swiper-button-next {
    left: 650px;
  }
}
@media (max-width: 320px) {
  .details-container h2 {
    font-size: 35px;
  }
  .popup-contact {
    width: 300px;
  }
  .wpcf7-form-control {
    width: 190px;
  }
  #button-submit {
    width: 190px;
  }
  .text-photos-apparentes p {
    margin-left: 20px;
  }
}
/*
*Menu burger pour écran mobile
*
*/
/* Cacher le menu burger par défaut */
.menu-toggle {
  display: none;
  position: relative;
}

#burgerIcon {
  bottom: 50px;
}

#menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5000px;
  background-color: #E00000;
  display: none; /* Masqué par défaut */
  z-index: 8;
  top: 80px;
}

.open-menu {
  position: absolute;
  flex-direction: column;
  z-index: 3;
  background-color: white;
  font-family: "Space mono", sans-serif;
  font-size: 44px;
  height: 100%;
  width: 100%;
}
.open-menu #primary-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -50px;
  padding-top: 300px;
}
.open-menu #primary-menu button {
  background-color: #E00000;
  font-size: 44px;
  color: white;
}
.open-menu #primary-menu a {
  color: white;
}/*# sourceMappingURL=mota.css.map */